* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

.card-header {
    text-align: center;
    margin-bottom: 2rem;
}

h1 {
    font-size: 2.5rem;
    color: #477bff;
}

.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid #477bff;
    margin-top: 1rem;
    transition: transform 0.3s ease-in-out;
}

.profile-img:hover {
    transform: scale(1.1);
}

.card-container {
    width: 90%;
    max-width: 800px;
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    transition: box-shadow 0.3s ease-in-out;
}

.card-container:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.card {
    padding: 1.5rem;
    border-radius: 10px;
}

h2 {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 1rem;
}

ul {
    list-style-type: none;
}

ul li {
    padding: 0.5rem 0;
    font-size: 1.2rem;
}

a {
    color: #477bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.card-footer {
    text-align: center;
    font-size: 1rem;
    color: #777;
}
